.first{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 1100px;
    border: 8px solid;
    border-color: #ffba94;
    margin: 100px;

}
.in1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    height: 140px;
    width: 1000px;
    margin: 50px 40px 30px;
    border: 4px solid;
    border-color: #70a5ba;
}


