.chapter1{
background-position: center;
}
h1{ text-align: center;
color: #cd7015;
font-family: "Lucida Handwriting" }
h3{
    text-align: center;
    color: #cd7015;
}
.center {
    display: block;
    margin-left:auto;
    margin-right: auto;
}