.name{

    background-position: center;

    background-size: cover;
    height: 70%;
box-sizing: border-box;
}
body{
    background-image: url("https://www.thewrap.com/wp-content/uploads/2016/08/the-little-prince_feat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;

}
h1{
    text-align: center;
    color: #cd342c;
    font-family: "Lucida Handwriting";
}

h3{
    text-align:center;
    color: #cd342c;
}
h2{
    text-align: end;
    color: #cd342c;
}