body {
    text-decoration: none;
    color: #483f4d;
}

header {
    color: white;
    background-color: #494949;
    text-align: center;
    font-family: Arial;
}

.article {
    margin-top: 60px;
    margin-left: 140px;
    margin-right: 60px;
}

.nav-link {
    color: #ababab;
}

nav ul {
    list-style: none;
}

.around li {
    margin: 0 20px;
}

.started {
    margin-top: 60px;
    text-align: center;
    font-family: Arial;
    width: 100%;
    height: 799px;
    background-image: url("img/combain.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 350px;
}

.started h1 span {
    font-stretch: condensed;
}

.started h5 span {
    font-stretch: expanded;
    letter-spacing: 2px;
}

.started button {
    background: transparent;
    text-align: center;
    font-stretch: condensed;
    border: 2px #5fc2a6 solid;
    border-radius: 4px;
    color: #5fc2a6;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 7px;
    padding-right: 50px;
    padding-left: 50px;
}

.started button h6 {
    font-weight: bold;
}

.started button:hover {
    background-color: #5fc2a6;
    color: #0f6674;
    box-shadow: 0 2px 4px #5fc2a9;
}

.our {
    font-stretch: condensed;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.sections {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}

.sections h5 small {
    text-align: center;
    padding-right: 7px;
    padding-left: 7px;
}

.img {
    margin-top: 60px;
    width: 100%;
    height: 575px;
    background-image: url("img/hand.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.raised {
    display: flex;
}

.picture {
    flex: 1;
    margin-top: 70px;
    margin-left: 140px;
    width: 50%;
    height: 379px;
    background-image: url("img/packet.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.text {
    margin-top: 170px;
    margin-left: 30px;
}

.transition {
    margin-top: 70px;
    width: 100%;
    height: 518px;
    background-image: url("lo.JPG");
    background-size: contain;
    background-position: center;
}

.mother {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 100%;
    height: 537px;
    background-image: url("img/mother.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.nutrition h5 {
    text-align: center;
    width: 52%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.spoons {
    margin-top: 80px;
    margin-bottom: 100px;
    width: 100%;
    height: 420px;
    background-image: url("img/spoons.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.frozen h5 {
    text-align: center;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer button {
    background: transparent;
    text-align: center;
    font-stretch: condensed;
    border: 2px #5fc2a6 solid;
    border-radius: 4px;
    color: #5fc2a6;
    width: 225px;
    padding-top: 15px;
    padding-bottom: 7px;
    padding-right: 50px;
    padding-left: 50px;
}

footer button h6 {
    font-weight: bold;
}

.want {
    color: #5fc2a6;
    padding: 7px;
    margin-right: -200px;
}

footer {
    margin-top: 110px;
}

.container {
    margin-top: -100px;
}

.row {
    margin-top: -25px;
    margin-bottom: -50px;
}











