

header{
    width: 100%;
    height: 15%;
    background-color: #ff4040;
    color: white;
    float: left;
    padding-bottom: 20px;
    padding-top: 3px;
    text-align: center;
}

nav {
    width: 12%;
    height: 590px;
    background-color: #c0c0c0;
    color: white;
    float: left;
    padding: 10px;
    padding-top: 2px;
    padding-left: 15px;
}

jjj {
    width: 70%;
    height: 465px;
    background-color: #ffffff;
    float: left;
    padding: 10px;
    padding-left: 30px;

}

footer {
    width: 100%;
    height: 10%;
    background-color: #ffb2b2;
    text-align: center;
    padding: 2px;
    float: left;

}

.hhh {
    color: white;
}


