﻿*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Italic;
}
.navbar-brand{
    font-size: 50px;
    font-family: Garamond;

}
.navbar-header{
    font-size: x;
}
.ozge{
    text-align: center;
    font-family: "Lucida Handwriting";
    color: #ffba94;
}
.container {
    position: relative;
    font-family: Arial;
}
.text-block {
    position: absolute;
    bottom: 40px;
    right: 70px;
    background-color: none;
    color: white;
    padding-left: 100px;
    padding-right:60px;
    text-align: center;
    font-family: "monospace";
}


.film{
   text-align: center;
    font-family: Arial;
}
.saual{
    text-align: left;
}

.music{
    height: 200px;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    font-family: Arial;
    padding-top: 100px;
}