.links{
    box-sizing: border-box;
margin: 10px;
padding: 10px;
}

.links a{
    box-sizing: border-box;
    color: #0918ba;
    background: #539fcd;
    display: flex;
    justify-content: center;
}
.links a:hover{
    background: #9eafba;
}
.links ul{
    list-style: none;
    display: flex;
}
.ulsec{
    display: flex;
    flex-direction: column;
}
.links li:hover.ulsec> li{
    display: block;
}
.ulsec li{
    display: none;

}
.links li{
    width: 100%;
    text-align: center;
}