@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); border-color: black; }
    50% { transform: rotate(180deg); border-color: grey; }
    100% {transform: rotate(360deg); border-color: yellow}
}
.spinner {
    position: fixed;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.spinner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

