.main{
width: 800px;
    margin: 5px;
}
.formcl{
    padding: 20px;
    background-color: #ffba94;
}
.qwerty{
    display: flex;
    background: rgba(255,186,148,0.25);
    flex-direction: column;
    align-content: center;
}

